<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p: %c - %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <!-- 애플리케이션/스프링 로그 레벨 -->
    <Logger name="com.freehoon.web" level="info"/>
    <Logger name="org.springframework" level="info"/>

    <!-- log4jdbc 제공 네임스페이스 -->
    <!-- 파라미터 바인딩된 최종 SQL만 보고 싶으면 sqlonly를 debug/info로 올림 -->
    <Logger name="jdbc.sqlonly" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <!-- 실행시간 포함 SQL -->
    <Logger name="jdbc.sqltiming" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <!-- 그 외 선택 -->
    <Logger name="jdbc.audit" level="warn" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.resultset" level="warn" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.resultsettable" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Root level="warn">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
