<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
  
	<!-- Mybatis 관련 설정 작성하기 * 아래 순서 중요, 바뀌면 안됨! -->
	
	<!-- SqlSessionTemplate 관련 설정 (아래는 null 조회/입력 시 오류 방지, logimpl은 mybatis를 log4j2에 로그 찍는 용도입니다)-->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="logImpl" value="LOG4J2"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
 	</settings>
	
	
	
	<typeAliases>
	  <package name="com.woori.wooribat.model.dto"/>
	</typeAliases>
			


</configuration>

