<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
              version="3.0">
<!-- 
	<welcome-file-list>
		<welcome-file>WEB-INF/views/board/list.jsp</welcome-file>
	</welcome-file-list>
 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<!-- XSS 처리 -->
	<filter>
		<filter-name>XSS</filter-name>
	    <filter-class>com.woori.wooribat.cmm.utils.filter.CrossScriptingFilter</filter-class> 
	</filter>
	<filter-mapping>
	    <filter-name>XSS</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring Security Filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- The definition of the Root Spring Container shared by all Servlets
		and Filters -->
	<!-- context 등록  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/config/context/context-application.xml
		    /WEB-INF/config/context/context-datasource.xml
		    /WEB-INF/config/context/context-mapper.xml
		    /WEB-INF/config/context/context-security.xml
		</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/servlet/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		
		<multipart-config>
	        <max-file-size>31457280</max-file-size>   <!-- 30mb-->
	        <max-request-size>1004857600</max-request-size>  <!-- 100mb -->
	    </multipart-config> 
	    
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.ico</url-pattern>
		<url-pattern>*.swf</url-pattern>
		<url-pattern>*.html</url-pattern>
		
	</servlet-mapping>

	<servlet-mapping>
			<servlet-name>jsp</servlet-name>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>
	
	
	<!-- 에러 페이지 설정  -->
	<!--  <error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/common/error.jsp</location>
	</error-page>
	
	<error-page><error-code>404</error-code>
		<location>/WEB-INF/views/common/error404.jsp</location>
	</error-page>
		
	
	<error-page><error-code>500</error-code>
		<location>/WEB-INF/views/common/error500.jsp</location>
	</error-page>-->
		
</web-app>